@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "satoshi";
    src: url("http://fonts.cdnfonts.com/css/satoshi")
}
@font-face {
    font-family: "clash";
    src: url("http://fonts.cdnfonts.com/css/clash-display");
}
@font-face {
    font-family: "chill";
    src: url("https://fonts.cdnfonts.com/css/chillax");
}

